<mat-card class="home mat-elevation-z3">
  <mat-card-title class="title"> Savassi Games </mat-card-title>
  <mat-card-subtitle class="subtitle">
    O melhor do Hardware Você Encontra Aqui
  </mat-card-subtitle>
</mat-card>
<div class="holder">

  <div class="imagem">
    <img src="assets/Imagens/fonte.jpeg" alt="" height="200" width="200">
    <p>Fonte Corsair</p>
    <P>Valor R$: 329,90</P>
    <P>Codigo - 22 </P>

  </div>
  <div class="imagem">
    <img src="assets/Imagens/gabinete.jpg" alt="" height="200" width="200">
    <p>Gabinete Gamer Preto/Led</p>
    <P>Valor R$: 187,80</P>
    <P>Codigo - 22 </P>
  </div>
  <div class="imagem">
    <img src="assets/Imagens/memoria.jpg" alt="" height="200" width="200">
    <p>Memoria Ram Hyperx Fury </p>
    <P>Valor R$: 110,50</P>
    <P>Codigo - 22 </P>
  </div>
  <div class="imagem">
    <img src="assets/Imagens/ssd.jpg" alt="" height="200" width="200">
    <p>SSD - 512gb </p>
    <P>Valor R$: 234,40</P>
    <P>Codigo - 22 </P>
  </div>
  <div class="imagem">
    <img src="assets/Imagens/rtx.jpg" alt="" height="200" width="200">
    <p>Placa de Video RTX 3060</p>
    <P>Valor R$: 5.400,90</P>
    <P>Codigo - 22 </P>
  </div>
  <div class="imagem">
    <img src="assets/Imagens/i9.jpg" alt="" height="200" width="200">
    <p>Processador Core i9</p>
    <P>Valor R$: 3270.80</P>
    <P>Codigo - 22 </P>
  </div>
  <div class="imagem">
    <img src="assets/Imagens/placa.jpg" alt="" height="200" width="200">
    <p>Placa mãe MSI</p>
    <P>Valor R$: 1300,00</P>
    <P>Codigo - 22 </P>
  </div>
</div>
<div class="teste">
  <div class="imagem">
    <img src="assets/Imagens/water.jpg" alt="" height="200" width="200">
    <p>Water Cooler Corsair</p>
    <P>Valor R$: 1100,00</P>
    <P>Codigo - 22 </P>
  </div>
  <div class="imagem">
    <img src="assets/Imagens/amd.jpg" alt="" height="200" width="200">
    <p>CPU Cooler AMD Wraith Prism RGB AM4 </p>
    <P>Valor R$: 449,00</P>
    <P>Codigo - 22 </P>
  </div>
  <div class="imagem">
    <img src="assets/Imagens/fan.jpg" alt="" height="200" width="200">
    <p>Kit de Fans</p>
    <P>Valor R$: 330,00</P>
    <P>Codigo - 22 </P>

  </div>
  <div class="imagem">
    <img src="assets/Imagens/m2.png" alt="" height="200" width="200">
    <p>SSD M2 - 128gb</p>
    <P>Valor R$: 320,00</P>
    <P>Codigo - 22 </P>
  </div>
  <div class="imagem">
    <img src="assets/Imagens/ps5.jpg" alt="" height="200" width="200">
    <p>Playstation 5</p>
    <P>Valor R$: 3500,00</P>
    <P>Codigo - 22 </P>
  </div>
  <div class="imagem">
    <img src="assets/Imagens/xbox.jpg" alt="" height="200" width="200">
    <p> XBOX SERIES X </p>
    <P>Valor R$: 3000,00</P>
    <P>Codigo - 22 </P>
  </div>
  <div class="imagem">
    <img src="assets/Imagens/nitendo.jpg" alt="" height="200" width="200">
    <p>nitendo switch</p>
    <P>Valor R$: 2450,00</P>
    <P>Codigo - 22 </P>
  </div>
</div>