<mat-card class="home mat-elevation-z3">
  <mat-card-title class="title"> Savassi Games </mat-card-title>
  <mat-card-subtitle class="subtitle">
    Para realizar o Pagamento favor inserir o Codigo de produto presente em cada anuncio e o preço
    <p>*Ao Realizar Pagamento Informar o Codigo "129845" e validade 31/12/2021 Para aplicar as promoções do Catalogo*</p>
  </mat-card-subtitle>
<button mat-raised-button (click)="navigateToProductCreate()" color="primary">
  Novo Pagamento
</button>
</mat-card><br>
<div class="Jogos">
  <h1>Jogos em Midia Física:</h1>
</div>
<div class="teste">
  <div class="imagem">
    <img src="assets/Imagens/pes.jpg" alt="" height="200" width="200">
    <p>Pes 2021</p>
    <P>Valor R$: 222,00</P>
    <P>Codigo - 22 </P>
  </div>
  <div class="imagem" >
    <img src="assets/Imagens/fifa.jpg" alt=""height="200" width="200">
    <p>Fifa 2021</p>
    <P>Valor R$: 300,00</P>
    <P>Codigo - 22 </P>
  </div>
  <div class="imagem" >
    <img src="assets/Imagens/gta.jpg" alt=""height="200" width="200">
    <p>GTA 5</p>
    <P>Valor R$: 89,90</P>
    <P>Codigo - 22 </P>
  </div>
  <div class="imagem" >
    <img src="assets/Imagens/cyber.jpg" alt=""height="200" width="200">
    <p>CyberPunk</p>
    <P>Valor R$: 117,70</P>
    <P>Codigo - 22 </P>
  </div>
  <div class="imagem" >
    <img src="assets/Imagens/good.jpg" alt=""height="200" width="200">
    <p>Good Of War</p>
    <P>Valor R$: 37,44</P>
    <P>Codigo - 22 </P>
  </div>
  <div class="imagem" >
    <img src="assets/Imagens/apex.jpg" alt=""height="200" width="200">
    <p>Apex Legends</p>
    <P>Valor R$: 55,00</P>
    <P>Codigo - 22 </P>
  </div>
  <div class="imagem" >
    <img src="assets/Imagens/mani.jpg" alt=""height="200" width="200">
    <p>Manicreft</p>
    <P>Valor R$: 44,90</P>
    <P>Codigo - 22 </P>
  </div>    